<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>NLP News Evaluator</title>
    </head>
    <body>
        <header>
            <div class="header-title">
                <p>NLP News Evaluator</p>
            </div>
            <div class="header-name">
                <p class="theme-color">mjnb</p>
            </div>
        </header>
        <main>
          <section>
            <div class="heading-container">
              <h1>Natural Language<br>Processing<span class="theme-color">.</span></h1>
              <h2>News Evaluator</h2>
            </div>
            <div class="intro-text">
              <p>Evaluating the news has never been simpler.</p>
              <p>Using the form below, enter the URL of a news website or blog you would like assessed, and we'll take care of the rest. So give it a go, and check out the results — they might not be what you expect!</p>
            </div>
          </section>
            <section>
                <form id="main-form" class="" onsubmit="Client.handleSubmit(event)">
                    <label for="URL-input">Enter the website URL below:</label>
                    <input id="URL-input" type="text" name="input" value="" placeholder="eg. www.mjnbartlett.com">
                    <div id="form-error-box" class="form-error-box visibility-hidden">
                      <p>Invalid URL — check the URL entered, and try again.</p>
                    </div>
                    <div class="submit-button-container">
                      <input id="submit-button" type="submit" name="" value="submit" onclick="Client.handleSubmit(event)" onsubmit="Client.handleSubmit(event)">
                    </div>
                </form>
            </section>
            <section class="section-box results-box">
                <div id="results">
                  <h3 id="results--title">Results</h3>
                  <p id="website">Website</p>
                  <p>Score: <span id="score_tag"></span></p>
                  <p>Subjectivity: <span id="subjectivity"></span></p>
                  <p>Agreement: <span id="agreement"></span></p>
                  <p>Irony: <span id="irony"></span></p>
                  <p>Confidence: <span id="confidence"></span></p>
                </div>
            </section>
        </main>
        <footer>
            <p class="footer-text">Designed by Matt Bartlett</p>
        </footer>
        <script>
         // Check that service workers are supported
         if ('serviceWorker' in navigator) {
             // Use the window load event to keep the page load performant
             window.addEventListener('load', () => {
                 navigator.serviceWorker.register('/service-worker.js');
             });
         }
        </script>
    </body>
</html>
