<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>NLP News Evaluator</title>
        <style media="screen">

        </style>
    </head>
    <body>
        <header>
            <div class="">
                <p>Logo</p>
            </div>
            <div class="">
                navigation
            </div>
        </header>
        <main>
            <section>
                <form class="" onsubmit="Client.handleSubmit(event)">
                    <input id="URL-input" type="text" name="input" value="" placeholder="URL">
                    <input type="submit" name="" value="submit" onclick="Client.handleSubmit(event)" onsubmit="Client.handleSubmit(event)">
                </form>
            </section>
            <section class="section-box results-box">
                <div id="results">
                  <p id="results--title">Results</p>
                  <p id="website"></p>
                  <p>Score: <span id="score_tag"></span></p>
                  <p>Subjectivity: <span id="subjectivity"></span></p>
                  <p>Agreement: <span id="agreement"></span></p>
                  <p>Irony: <span id="irony"></span></p>
                  <p>Confidence: <span id="confidence"></span></p>
                </div>
            </section>
        </main>
        <footer>
            <p class="footer-text">Designed by Matt Bartlett</p>
        </footer>
    </body>
</html>
